* {
  margin: 0px;
  padding: 0px;
}

#hanzla {
  margin-top: 30;
}

.about{
  background-color: rgb(65, 66, 65);
  height: 100vh;  
  padding-top: 40px;
  padding-bottom: 20%;
}
.about #about{
  color: rgb(255, 255, 255);
  right: 0;
  bottom: 0;
  width: 100%;
  font-size: 1.25em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-top: 200px;
  padding-left: 30%;
  text-align: center;
}
.about h1{
  text-align: center;
  font-size: 2em;
  padding-top: 30px;
  color: white;
}

#contact {
  color: white;
  background-color: rgb(49, 49, 49);
  height: 100vh;
  padding-top: 200px;
  padding-left: 300px;
  align-items: inline-block;
}
.h1{
  padding-bottom: 50px;
}
.btn {
  border-radius: 50px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1em;
  border-color: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.image {
  padding-top: 60px;
}
#1 {
  padding-left: 90px;
}
.footer {
  background-color: black;
  text-align: center;
  font-size: 1.5em;
}

#backtotop {
  transition: all 0.25s ease;
  width: 10rem;
  padding: 0.25rem;
  text-align: center;
  color: white;
}
#backtotop:hover {
  transform: scale(1.05);
}

.nav-item{
    color: white;
}
.nav-item:hover{
    background-color: rgb(48, 48, 48);
    transform: scale(1.05);
    font-size: 1em;
}
.img{
    padding-right: 90%;
    padding-bottom: 100;
}

.button{
    padding: 7px;
}
.bt1{
    padding-bottom: 10px;
}
.bt2{
    padding-bottom: 10px;
}
.bt3{
    padding-bottom: 10px;
}
.bt4{
    padding-bottom: 10px;
}
#bt1{
    padding-right: 15%;
}
#bt2{
    padding-right: 11%;
}
#bt3{
    padding-right: 16%;
}
#bt4{
    padding-right: 19%;
}



.footer #backtotop {
  transition: all 0.25s ease;
  width: 10rem;
  padding: 0.25rem;
}
.footer #backtotop:hover {
  transform: scale(1.05);
}
@import url('https://fonts.googleapis.com/css?family=Poppins:20');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 100%;
    height:90.7vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    opacity: 85%;
    padding-top: 60px;
    /* padding-bottom: -40px; */

}
.banner .content{
    position: relative;
    z-index: 100px;
    padding-bottom: 250px;
    max-width: 600px;
    margin: 20px auto;
    color: rgb(0, 0, 0);
    padding: none;
    text-transform: uppercase;
}
.banner .content .am{
    font-size: 2em;
    color: rgb(25, 0, 255);
}


.navbar{
  opacity: 100%;
}
.backtotop{
  text-align: center;
  background-color: rgb(87, 87, 87);
}
.about .about-image{
  width: 150px;
  height: 150px;
  
}

#typed{
  font-size: 1.5em;
  color: white;
  position: sticky;
  padding-right: 80px;
  text-align: center;
  padding-top: 10px;
}

.typed-cursor{
  opacity: 1;
}
.typed-cursor.typed-cursor--blink{
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.button{
  -webkit-appearance: none;
  border: 1px solid transparent;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  height: 2em;
  position: relative;
  vertical-align: top;
  text-transform: uppercase;

}